<div id="page-main">
<div class="layui-input-inline">
    <input type="text" name="phone" id="phone" required  lay-verify="required" placeholder="请输入手机号" autocomplete="off" class="layui-input">
</div>
    <button class="layui-btn layui-btn-normal" id="search">搜索</button>
<table class="layui-table">
    <colgroup>
        <col width="150">
        <col width="150">
        <col width="200">
        <col>
    </colgroup>
    <thead>
    <tr>
        <th>ID</th>
        <th>昵称</th>
        <th>手机号</th>
        <th>Email</th>
        <th>创建时间</th>
        <th>上次登录时间</th>
    </tr>
    </thead>
    <tbody id="tBody">
    <tr v-for="v in info">
        <td>{{ v.id }}</td>
        <td>{{ v.nickname }}</td>
        <td>{{ v.phone }}</td>
        <td>{{ v.email }}</td>
        <td>{{ v.add_time }}</td>
        <td>{{ v.last_login_time }}</td>
    </tr>
    </tbody>
</table>
<div id="page">
    <ul class="pagination">
        <li><a href="#">&laquo;</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
    </ul>
</div>
</div>

<script src="__FRAME__/layui/layui.js" charset="utf-8"></script>
<script>
    new Vue({
        el: '#page-main',
        data () {
            return {
                info: null,
                count : null
            }
        },
        mounted: function() {
            this.page();
        },
        methods: {
            page:function () {
                axios.post("{:url('extension/page')}",{
                        'page' : 0 ,
                        'limit' : 1 ,
                        'phone' : '',
                    })
                    .then(response => (this.info = response.data.data.data))
                    .catch(function (error) { // 请求失败处理
                        console.log(error);
                    });
            },
            next:function (e) {

            }
        }
    })
</script>