<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2 class="fenxiang">这是一个分享测试</h2>

    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript">

    	
    		var signature = "{$signature['signature']}";
    		var timestamp = "{$signature['timestamp']}";
    		// console.log(signature);
	    		wx.config({
			    debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
			    appId: 'wx19dffa4b721a3921', // 必填，企业号的唯一标识，此处填写企业号corpid
			    timestamp: timestamp, // 必填，生成签名的时间戳
			    nonceStr: 'abc', // 必填，生成签名的随机串
			    signature: signature,// 必填，签名，见附录1
			    jsApiList: ['onMenuShareAppMessage','updateTimelineShareData','onMenuShareAppMessage'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
			});
	    		wx.ready(function () {
	    		wx.onMenuShareTimeline({
				    title: '测试', // 分享标题
				    link: 'http://8.9.6.220/template/public/index.php/admin/test/test', // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
				    imgUrl: 'https://www.baidu.com/img/bd_logo1.png?where=super', // 分享图标
				    trigger: function (res) {
			            // 不要尝试在trigger中使用ajax异步请求修改本次分享的内容，因为客户端分享操作是一个同步操作，这时候使用ajax的回包会还没有返回
			            alert('用户点击分享到朋友圈');
          			},
				    success: function () {
				    // 用户点击了分享后执行的回调函数
				    alert(123);
				},
	    	});

	    		wx.onMenuShareAppMessage({
					title: '测试', // 分享标题
					desc: '测试', // 分享描述
					link: 'http://8.9.6.220/template/public/index.php/admin/test/test', // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
					imgUrl: 'https://www.baidu.com/img/bd_logo1.png?where=super', // 分享图标
					type: 'link', // 分享类型,music、video或link，不填默认为link
					dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
					success: function () {
					// 用户点击了分享后执行的回调函数
					alert(123);
					}
					});
    	});

    	$('.fenxiang').click(function(){
    		var signature = "{$signature['signature']}";
    		var timestamp = "{$signature['timestamp']}";
    		// console.log(signature);
	    		wx.config({
			    debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
			    appId: 'wx19dffa4b721a3921', // 必填，企业号的唯一标识，此处填写企业号corpid
			    timestamp: timestamp, // 必填，生成签名的时间戳
			    nonceStr: 'abc', // 必填，生成签名的随机串
			    signature: signature,// 必填，签名，见附录1
			    jsApiList: ['onMenuShareAppMessage','updateTimelineShareData'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
			});
	    		wx.ready(function () {
	    		wx.onMenuShareTimeline({
				    title: '测试', // 分享标题
				    link: 'http://8.9.6.220/template/public/index.php/admin/test/test', // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
				    imgUrl: 'https://www.baidu.com/img/bd_logo1.png?where=super', // 分享图标
				    trigger: function (res) {
			            // 不要尝试在trigger中使用ajax异步请求修改本次分享的内容，因为客户端分享操作是一个同步操作，这时候使用ajax的回包会还没有返回
			            alert('用户点击分享到朋友圈');
          			},
				    success: function () {
				    // 用户点击了分享后执行的回调函数
				    alert(123);
				},
	    	});

	  //   		wx.ready(function () {   //需在用户可能点击分享按钮前就先调用
			//     wx.updateTimelineShareData({ 
			//         title: '测试', // 分享标题
			//         desc: '测试', // 分享描述
			//         link: 'http://8.9.6.220/template/public/index.php/admin/test/test', // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
			//         imgUrl: 'https://www.baidu.com/img/bd_logo1.png?where=super', // 分享图标
			//         success: function () {
			//           // 设置成功
			//         }
			// });
	    		// onMenuShareTimeline();

	    	});
	    	});


    	
    </script>
</body>
</html>