<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>登录</title>
        <link rel="stylesheet" href="__FRAME__/layui/css/layui.css">
    <link rel="stylesheet" href="__FRAME__/static/css/style.css">
    <link rel="stylesheet" href="__CSS__/admin/login/login.css">
    <link rel="icon" href="__FRAME__/static/image/code.png">
</head>
<body>
<div class="login-main">
    <header class="layui-elip">后台登录</header>
    <form class="layui-form">
        <div class="layui-input-inline">
            <input type="text" name="phone" required lay-verify="required|phone" placeholder="手机号" autocomplete="off"
                   class="layui-input">
        </div>
        <div class="layui-input-inline">
            <input type="password" name="password" required lay-verify="required" placeholder="密码" autocomplete="off"
                   class="layui-input">
        </div>
        <div class="layui-input-inline">
            <input type="text" name="verify" required lay-verify="required" placeholder="验证码" autocomplete="off" class="layui-input verify">
            <img src="{:captcha_src()}" onclick="this.src='{:captcha_src()}'" class='verify_img'>
            <!-- <div>{:captcha_img()}</div> -->
        </div>
        <div class="layui-input-inline login-btn">
            <button type="submit" lay-submit lay-filter="login" class="layui-btn">登录</button>
        </div>
        <hr/>
        <!--<div class="layui-input-inline">
            <button type="button" class="layui-btn layui-btn-primary">QQ登录</button>
        </div>
        <div class="layui-input-inline">
            <button type="button" class="layui-btn layui-btn-normal">微信登录</button>
        </div>-->
        <p><a href="{:url('login/register')}" class="fl">立即注册</a><a href="javascript:;" class="fr">忘记密码？</a></p>
    </form>
</div>
<script src="__FRAME__/layui/layui.js"></script>
<script type="text/javascript">
    layui.use(['form','layer'], function () {
        // 操作对象
        var form = layui.form, $ = layui.jquery;
        form.on('submit(login)', function(data){
            // console.log(data.field) //当前容器的全部表单字段，名值对形式：{name: value}
            $.ajax({
                type: "POST",
                url: "login",
                data: data.field,
                success: function(data){
                    console.log(typeof(data));
                    if(data['status'] == 1){
                        window.location.href = "{:url('Index/index')}";
                    }else{
                        layer.msg(data['info']);
                        $('.verify_img').trigger('onclick');
                    }
                }
            });
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    });
</script>
</body>
</html>